# Copiar a secrets/lab.secrets.env y rellenar (chmod 600)
# NO subir lab.secrets.env a Git

LAB_SSH_PASS=cambiar_password_ssh_contenedores
DB_PASS=cambiar_password_postgresql
APP_ADMIN_EMAIL=admin@lab.edu
APP_ADMIN_PASS=cambiar_password_app
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASS=cambiar_password_grafana
HOST_USER=fintek-1
HOST_SUDO_PASS=cambiar_password_sudo_servidor
